body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.orange {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 60%;
    padding-left: 5%;
}

.link-bitton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}

.top-banner {
    background-image: url(./Image/top-banner.png);
    background-repeat: no-repeat;
}

.Secend-Button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 700;
}

.sectiontwo {
    width: 50%;
    padding-left: 10%;
}

.sectiontwo img {
    width: 60%;
    padding-left: 5%;
}

.Iamsectiontwo {
    background-image: url(./Image/dream-bg.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
}

.flasivle-container {
    display: flex;
}

.Experience-item {
    width: 60%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;

}

.experience-area {
    margin-bottom: 100px;
    background-image: url(./Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.blue-color {
    border-left: 10px solid blue;
}

.orange-color {
    border-left: 10px solid rgb(245, 101, 48);
}

footer p {
    text-align: center;
}